* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
:root{
    --body-color:#eee;
    --white-color:#fff;
    --cart-color:#fff;
    --purple:#996ed9;
    --grey:#48556a;
    --navy:#19212e;
}
.dark-mode{
    --body-color:#18191a;
    --white-color:#eee;
    --cart-color:#48556a;
    --purple:#651bd4;
    --grey:#242526;
    --navy:#2d88ff;
}
body {
    background: var(--body-color);
}
.toggler-wrap{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.checkbox{
    display: none;
}
.label{
    background-color: var(--grey);
    width: 50px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.3);
}
.ball{
    position: absolute;
    background-color: var(--white-color);
    border-radius: 10px;
    top:2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transition: linear 0.2s;
    transform: translateX(0px);
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
.container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card {
    background-color: var(--cart-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}
.card:nth-of-type(1) {
    grid-column: 1 / span 2;
}
.card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / span 2;
}
.card:nth-of-type(4) {
    grid-column: 2 / span 2;
    grid-row: 2
}

@media(max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .card:nth-of-type(1) {
        grid-column: 1;
    }
    .card:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
    }
    .card:nth-of-type(4) {
        grid-column: 1;
        grid-row: 4
    }
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card-header h3 {
    font-size: 15px;
}
.card-header p {
    opacity: 50%;
}
.card-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--purple);
    margin-right: 10px;
}
.card-lead {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.card-desc {
    font-size: 15px;
    line-height: 1.4;
    opacity: 70%;
}
.bg-purple {
    background-color: var(--purple);
    color: var(--white-color);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
}
.bg-gray {
    background-color: var(--grey);
    color: var(--white-color);
}
.bg-navy {
    background-color: var(--navy);
    color: var(--white-color);
}